body{
    background-color: #70a1ff;
}
.grid {
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.box {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #70a1ff;
  border: 2px solid black;
  border-radius: 5px;
}
.icon {
  font-size: 35px;
  color: #ffffff;
}